body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.4;
  margin: 0;
  padding: 0;
  background: #ffffff;
  color: #464a5f;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
}

::-webkit-scrollbar-thumb {
  background-color: #e6e6e6;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  margin: 0 24px;
  padding: 0;
}

#download {
  padding: 8px 16px;
  background: #ffd000;
  color: #1c1c20;
  appearance: none;
  cursor: pointer;
  border: none;
  border-radius: 8px;
  font-weight: 700;
  margin-left: 12px;
  transition: all 0.3s ease-in-out;
}
#download:hover {
  background: #ffdf4e;
}
#download:disabled {
  background: #eeeeee;
}

.container {
  margin: 0 auto;
  padding: 0 1rem;
  max-width: 1050px;
}

.d-flex {
  display: flex;
}

main {
  padding-top: 1.25rem;
  background-image: url('./assets//left-background.png');
  background-repeat: no-repeat;
  /* background-attachment: fixed; */
  background-position: left 16px top;
  background-size: 220px;
}

header {
  padding: 1rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  display: flex;
  list-style: none;
}

nav li {
  margin: 0 0 0 1rem;
}

nav a:hover {
  text-decoration: underline;
}

.logo {
  display: flex;
  align-items: center;
  font-weight: 700;
}
.logo__img {
  width: 40px;
  height: 40px;
  border-radius: 40px;
  margin-right: 1rem;
}

.hero {
  margin: 3rem 0;
}
.hero__name,
.hero__work {
  font-size: 2.3rem;
  margin: 0;
}
.hero__work {
  opacity: 0.7;
}

.resume {
  margin-top: -8px;
  padding-bottom: 2.25rem;
  position: relative;
  background: #f6f6f7;
}
.resume-background {
  width: 1129px;
  height: 653px;
  position: absolute;
  top: -200px;
  right: -500px;
  display: none;
}
.resume-info {
  padding-bottom: 1.75rem;
}
.resume-info__title {
  opacity: 0.7;
  font-size: 18px;
  font-weight: bold;
}
.resume-info__content {
  margin: 0 24px;
}

.c-list__table {
  display: flex;
  flex-direction: row;
}
.c-list__table {
  display: flex;
  flex-direction: row;
}
.c-list__table-topic {
  width: 120px;
}
.c-list__table-content a {
  text-decoration: underline;
}

.c-group {
  margin-bottom: 1.25rem;
}
.c-group:last-child {
  margin-bottom: 0rem;
}
.c-group__header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 4px;
  border-bottom: 1px solid #f1f1f1;
}
.c-group__header-topic {
  opacity: 0.7;
  font-weight: 700;
}
.c-group__content {
  padding: 0px 24px;
}

.c-table {
  margin: 8px -24px;
  padding: 12px 24px;
  border-radius: 8px;
  background: #fafafa;
  margin-bottom: 1rem;
}
.c-table:last-child {
  margin-bottom: 0rem;
}
.c-table .left {
  width: 150px;
}
.c-table .row {
  padding: 4px 0;
}
.c-table__header {
  display: flex;
  flex-direction: row;
  padding-bottom: 4px;
  border-bottom: 1px solid #f1f1f1;
}
.c-table__header-subtitle {
  opacity: 0.7;
  font-weight: 700;
}

@media (min-resolution: 2dppx) {
  * {
    text-rendering: geometricPrecision;
  }
}

@media (min-width: 800px) {
  .container {
    padding-left: 3rem;
    padding-right: 3rem;
  }

  .resume-background {
    display: block;
  }

  .hero {
    margin: 6rem 0 6rem 0;
  }

  .hero__name,
  .hero__work {
    font-size: 4rem;
  }
}
